body {
  min-width: 300px;
  font-family: "Montserrat", sans-serif;
}

.centered-nav,
.commands {
  display: flex;
  justify-content: center;
  align-content: center;
}

.commands {
  width: 100%;
  margin-right: 0 !important;
  padding: 5px;
}

/* Themes */

.theme-row {
  display: flex;
  padding: 5px;
  margin-bottom: 8px;
}

.theme-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.theme-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.theme {
  position: relative;
  border-radius: 5px;
  width: 80px;
  height: 25px;
}

.current-theme {
  font-size: 8px;
  background: #fff200;
  color: black;
  padding: 3px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  width: 40px;
  position: absolute;
  bottom: -10px;
  right: 20px;
}

/* Credits */

.credits {
  font-size: 12px;
}

.schkn {
  font-weight: bold;
}